.top-bar {
    background-color: var(--surface-a);
    height: var(--top-bar-height);
    position: fixed;
    width: 100%;
    z-index: 999;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.top-bar>* {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.fill {
    flex-grow: 1;
    margin: 0;
}

.title {
    margin: 0.5em;
}