.top-bar {
    background-color: var(--surface-a);
    height: var(--top-bar-height);
    position: fixed;
    width: 100%;
    z-index: 999;
}

.top-bar>* {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.title {
    margin: 0.5em;
}