.evidence-selection {
    background-color: var(--surface-d);
    height: var(--evidences-height);
    flex-shrink: 0;
    padding: 0em 0.4em;
}

.evidence-selection-small {
    height: var(--evidences-height-small);
    overflow: auto;
}

.evidence-layouting-small {
    position: fixed;
    right: 0;
}

.fill {
    flex-grow: 1;
}

.page {
    padding-top: var(--top-bar-height);
}

.ghost-scroller {
    overflow: auto;
    flex-grow: 1;
}

.content {
    margin: 1em;
}