.top-bar {
    background-color: var(--surface-a);
    height: var(--top-bar-height);
    position: fixed;
    width: 100%;
    z-index: 999;
}

.evidence-selection {
    background-color: var(--surface-d);
    height: var(--evidences-height);
    flex-shrink: 0;
}

.evidence-selection-small {
    height: var(--evidences-height);
}

.fill {
    flex-grow: 1;
}

.top-bar>* {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.page {
    padding-top: var(--top-bar-height);
}

.scroller {
    overflow: auto;
}

.title {
    margin: 0.5em;
}

.ghost-card {
    margin: 0.2em;
}

.content {
    margin: 1em;
}